.mainlevel a:hover {background:#015293;}
.editor_wrapper {width:1000px;margin: 0 auto;background: #fff;}
.editor_title {height: 30px;line-height: 30px;display: block;}
.editor_title span {font-weight: bold;font-size: 25px;text-align: center;display: block;}
ul.list li {line-height: 34px;height: 34px;padding-left: 12px;background: url(../img/icoPoint.jpg) no-repeat 0px 16px;}
ul.list {padding-top: 12px;}
.list li {font-size: 14px;}
.container {background: #fff; padding:30px;}
.mt20 {margin-top: 20px;}
.fl {float:left;}
.fr {float: right;}
.slideBox{width:592px; height: 382px;overflow: hidden;position: relative;}
.slideBox .hd {height: 12px;overflow: hidden;position: absolute;right: 10px;bottom: 15px;z-index: 1;}
.slideBox .hd ul li.on {background-position: left;color:#fff;}
.slideBox .hd ul {overflow: hidden;zoom:1;float: left;}
.slideBox .hd ul li {float: left;margin-right: 8px;width: 12px;height: 12px;background: url(../img/focusPoint.png) no-repeat right;cursor: pointer;text-indent: -222px;}
.slideBox .bd {position: relative;height: 100%;z-index: 0;}
.slideBox .bd li {zoom:1;vertical-align: middle;}
.slideBox .bd img {width:592px;height: 382px;display: block;border: none;margin: 0;padding: 0;}
.slideBox .bd li a span {position: absolute;bottom: 0px;left: 0px;width:100%;padding-left: 2%;line-height: 45px;height: 45px;background: rgba(0,0,0,0.8) !important; color: #fff;}

.column2 {position: relative;float:left;width: 1040px; margin-top: 50px;}
.column2_lf {float: left;width: 320px;height: auto;padding: 0px 20px 0px 0px;}
.column2_lf1{width:320px;}
.lmtit {font-family: "微软雅黑";font-size:20px;border-bottom: 1px solid #bababa; }
.lmtit a{color: #000;}
.column2_fl1 ul {margin-top: 10px;margin-bottom: 20px;}
.news_title {padding-top:12px;overflow: hidden;}
.yaowen {width: 422px;}
.title {height: 40px;line-height: 40px;}
.yaowen .title {background:#f2f2f2;}
.title ul {height: 40px;width:100%;}
.title li a{float: left;font-family: "微软雅黑","宋体"; font-size: 20px;line-height: 40px;display: block;font-weight: bold;padding: 0 65px;color: #000;}
.title li.on a{background: #1369c0;color:#fff;}
.yaowen ul.list {padding-top: 10px;}
