@charset "utf-8";
body{background: #f2f2f2;}
.clear {clear: both;}
ul {display: block;}

.main {width: 100%;min-width: 1100px;}
.header {width: 100%; background: #fff;}
.header_center {width: 1000px; margin: 0 auto; padding-top: 30px; height: 130px; background: #fff;}
.nav {background: #1369c0; height: 37px;width: 100%;}
.nav_home{width: 1100px;margin:0 auto;}
#menu{width:1000px;height: 37px;margin:0 auto}
#nav{margin:0px;padding:0px;}
#nav .mainlevel{font-weight: normal;position: relative;}
.nav_home li{float: left;font-family: "FZYouHK_512B","微软雅黑","宋体";font-size: 20px;line-height: 37px;border-right: 1px solid #bfbfbf;display: block;}
.nav_home li a {display: block;color: #fff;padding: 0 24px;}

h1{line-height: 56px;font-family: "微软雅黑","宋体";font-size: 28px;text-align: center;padding: 26px 0 26px 0;font-weight: normal;}
.content{width: 1100px;margin:auto; position:relative;}
.padd{padding:0 36px 60px 36px;}
.oneColumn{padding: 10px 66px 38px 66px;}
.BreadcrumbNav{line-height: 44px;height: 44px;font-size: 12px;font-family: "宋体";color: #000;}
.BreadcrumbNav a {color: #000;}
.pub_border{border: 1px #dddddd solid;}
.pages-data{position: relative;border-bottom: 1px #dcdcdc solid;padding-top: 7px;text-align: left;color: #666666;font-size: 14px;height: 35px;overflow: hidden;}
.pages-data span.font,.pages_print span.font{margin: 0 10px;padding-right:20px; }
.pages_print {position: absolute; border-bottom: none;top: 7px;right: -12px;text-align: center;font-size: 14px;height: 30px;padding-bottom: 11px;}
.oneColumn .pages_print .index_switchsize{padding-left: 300px;margin: 0 10px;}
.pages_print .printIco{background: url(../img/ico.png) no-repeat 0px 0px;padding-left: 22px;}
#btnPrint{cursor:pointer;}
.pages_content{padding-top: 50px;padding-bottom: 50px;}
.form p{ float:left; display: block;}


.footer{width: 1100px;height: 90px; background: #1369c0; margin: 0 auto;}
.footer-content{width: 1000px; margin: 0 auto;text-align: center;}
.footer-content span {font-size: 10px; color: #fff;}
