{% extends "layout.html" %}
{% block header %}
{{ super() }}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<script src="{{ url_for('static', filename='ueditor/ueditor.parse.js')}}"></script>
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block content %}
  <div class="padd">
<!-- 位置条开始 -->
    <div class="BreadcrumbNav">
      <a href="/index.html" target="_blank" style="font-weight: bold;">
      首页
      </a>
      >
      <a href="/index.html" target="_blank" style="font-weight: bold;">
      {{ link }}
      </a>
<!-- 位置条结束　-->
    </div>
<!-- 文章数据开始　-->
    <div class="article oneColumn pub_border">
      <h1>{{ title }}</h1>
      <div class="pages-data">
        {{ publish_date }}
        <span class="font">来源：{{ publisher }}</span>
        <div class="pages_print">
          <span class="font index_switchsize">
          【字体：
            <span class="bigger">大</span>
            <span class="medium">中</span>
            <span class="smaller">小</span>
          】
          </span>
          <span class="font printIco" id="btnPrint">打印</span>
        </div>
      </div>
<!-- 文章内容开始　-->
      <div class="pages_content" id="UEDITOR_CONTENT">
        {{ article_content }}
        <script type="text/javascript">
          uParse(#UEDITOR_CONTENT)
        </script>
<!-- 文章内容结束　-->
      </div>
<!-- 文章数据结束　-->
    </div>
  </div>
{% endblock %}
