{% extends "layout.html" %}
{% block content %}
<div class="content">
  <div class="padd">
<!-- 位置条开始 -->
    <div class="BreadcrumbNav">
      <a href="/index.html" target="_blank" style="font-weight: bold;">
      首页
      </a>
<!-- 位置条结束　-->
    </div>
<!-- 文章数据开始　-->
    <div class="article oneColumn pub_border">
      <h1>临西县地方税务局关于开展岗位大练兵活动的通知</h1>
      <div class="pages-data">
        <span class="font">2017-10-23 11:34</span>
        <div class="pages_print">
          <span class="font index_switchsize">
          【字体：
            <span class="bigger">大</span>
            <span class="medium">中</span>
            <span class="smaller">小</span>
          】
          </span>
          <span class="font printIco" id="btnPrint">打印</span>
        </div>
      </div>
<!-- 文章内容开始　-->
      <div class="pages_content" id="UCAP-CONTENT">
        <p style="text-indent:2em;font-family:宋体;font-size:12pt; ">根据相关文件通知精神，先将相关内容通知各分局</p>
<!-- 文章内容结束　-->
      </div>
<!-- 文章数据结束　-->
    </div>
  </div>
</div>
{% endblock %}
