{% extends "layout.html" %}
{% block header %}
{{ super() }}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="mt20">
    <div id="slideBox" class="slideBox fl">
      <div class="hd">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </div>
      <div class="bd">
        <ul>
          <li><a href=""><img src="" alt="" width="592" height="382"><span>临西县地方税务局</span></a></li>
          <li><a href=""><img src="" alt="" width="592" height="382"><span></span></a></li>
          <li><a href=""><img src="" alt="" width="592" height="382"><span></span></a></li>
          <li><a href=""><img src="" alt="" width="592" height="382"><span></span></a></li>
          <li><a href=""><img src="" alt="" width="592" height="382"><span></span></a></li>
        </ul>
      </div>
    </div>
    <div class="yaowen fr slideTxtBox">
      <div class="hd title">
        <ul>
          <li class="on"><a href="">新闻图片</a></li>
          <li class=""><a href="">信息简报</a></li>
        </ul>
      </div>
      <div class="bd">
        <ul class="list" style="display:block;">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li>临西县地方税务局</li>
        </ul>
        <ul class="list" style="display:none;">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="column2">
<!-- 第二行左侧 -->
    <div class="column2_lf">
      <div class="column2_lf1 fl">
        <div class="lmtit">
          <a href="" target="_blank">网络通知</a>
        </div>
        <ul class="news_title">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="colum2_lf2"></div>
    </div>
<!-- 第二行左侧结束 -->
<!-- 第二行中部开始 -->
    <div class="column2_lf">
      <div class="column2_lf1 fl">
        <div class="lmtit">
          <a href="" target="_blank">领导讲话</a>
        </div>
        <ul class="news_title">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="colum2_lf2"></div>
    </div>
<!-- 第二行中部结束 -->
  </div>
  <div class="clear"></div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/jquery.SuperSlide.2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
