<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../static/css/base.css">
  <link rel="stylesheet" type="text/css" href="../static/css/common.css">
  <link rel="stylesheet" type="text/css" href="../static/css/common_detail.css">
  {% block header %}
  {% endblock %}
</head>
<body>
<!-- 网页主体结构开始　-->
  <div class="main">
<!-- 网页banner开始 -->
    <div class="header">
      <div class="header_center">
        <div class="header_left">
          <a href="/" target="_blank">
            <img src="../static/img/banner.png" alt="">
          </a>
        </div>
      </div>
      <div class="nav">
        <div class="nav_home">
          <div id="menu">
            {% block menu %}
            {% endblock %}
          </div>
        </div>
      </div>
<!-- 网页banner结束　-->
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
<!-- 网页主体结构结束　-->
    <div class="footer">
      <div class="footer-content">
        <span>临西县地方税务局主办</span> <br>
        <span>版权所有　临西县地方税务局</span> <br>
        <span>地址：河北省邢台市临西县珠江路　邮编：０５４９００</span>
      </div>
    </div>
  </div>
</body>
</html>
