<ul class="nav" id="menu_list" style="">
  <li class="mainlevel">
    <a href="">首页</a>
  </li>
  <li class="mainlevel" id="menu1">
    <a href="">机构设置</a>
  </li>
  <li class="mainlevel" id="menu2">
    <a href="">新闻图片</a>
  </li>
  <li class="mainlevel" id="menu3">
    <a href="">工作通知</a>
  </li>
  <li class="mainlevel" id="menu4">
    <a href="">信息简报</a>
  </li>
  <li class="mainlevel" id="menu5">
    <a href="">领导讲话</a>
  </li>
  <li class="mainlevel" id="menu6">
    <a href="">党风廉政</a>
  </li>
  <li class="mainlevel" id="menu7">
    <a href="">常用链接</a>
  </li>
</ul>
<script type="text/javascript" charset="utf-8">
  $(".mainlevel>a").hover(function(){
    $("this").css("background-color","#015293");
});
</script>
